.sizingPadding {
    padding-right: 40px;
    padding-left: 40px;
    box-sizing: border-box;
}

.sizingMargin {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1408px;
}

.cart {
    font-size: 32px;
    padding-bottom: 2rem;
}