

.sizingPadding {
    padding: 0 40px;
    box-sizing: border-box;
    @media(max-width:768px){
        padding: 0 15px;
    }
}

.sizingMargin {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1408px;
    padding: 15px 0;
}

.imgSlider {
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    @media(max-width:1228px) {
        height: 380px;
    }
    @media(max-width:1028px) {
        height: 300px;
    }
    @media(max-width:768px) {
        height: 200px;
    }

    &__slider {
        position: absolute;
        height: inherit;
        width: 100%;
        display: flex;
        align-items: center;
        background: no-repeat center;
        justify-content: center;
        background-size: contain;
        transition: .8s;

        &__text {
            padding: 1rem 5rem;
            color:  black;
            font-size: 3rem;
            width: 100%;
            text-align: center;
            @media(max-width:1028px) {
                font-size: 36px;
            }
            @media(max-width:768px) {
                font-size: 18px;
            }
        }
        
    }

    &__leftArrow {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 1rem;
        font-size: 40px;
        display: flex;
        align-items: center;
        font-weight: 600;
        opacity: 1;
        outline: none;
        border: none;
        background: inherit;
    }

    &__rightArrow {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 1rem;
        font-size: 40px;
        display: flex;
        align-items: center;
        font-weight: 600;
        outline: none;
        border: none;
        background: inherit;
    }

    &__pointBox {
        position: absolute;
        bottom: 10px;
        display: flex;
        width: 100%;
        justify-content: center;



        &__point {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: gray;
            margin: 0 5px;
            cursor: pointer;
            &:hover{opacity: .7;} 
        }
    }
}

