html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.sizingPadding {
  padding-right: 40px;
  padding-left: 40px;
  box-sizing: border-box;
}

.sizingMargin {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1408px;
}


