.wrapper {
    display: flex;
    justify-content: space-between;
    @media(max-width:768px) {
        display: block;
    }
}

.sizingPadding {
    padding: 0 40px;
    box-sizing: border-box;
    @media(max-width:768px){
        padding: 0 15px;
    }
}

.sizingMargin {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1408px;
    padding: 15px 0;
}

.sticky {
    position: fixed;
    width: 100%;
    height: 42px;
    background-color: #404145;
    z-index: 10000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: .5s;

    @media(max-width: 370px) {
        font-size: 15px;
    }

    &__btn {
        position: fixed;
        height: 14px;
        right: 11px;
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
        background-color: #404145;
        cursor: pointer;
        transition: .5s;
    }
}

.marginTop {
    transition: .5s;
    height: 0;
    margin-top: 42px;
}

.headermini {
    background-color: #f7f7f7;
    padding: 0 40px;
    transition: .5s;
    z-index: 2000;
    @media(min-width:769px){
        transform: translate3d(0, 0, 0) !important;
        visibility: visible !important;
    }
    @media(max-width:768px){
        height: 100vh;
        position: absolute;
        width: 100%;
        padding: 70px 60px;
        margin-top: 0;
        overflow-y: auto;
    }

    nav {
        height: 38px;
        display: flex;
        align-items: center;
        @media(max-width:768px){
            display: block;
        }
        
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
        white-space: nowrap;

        @media(max-width:768px){
            display: block;
        }
        
    }
    
    li {
        text-decoration: none;
        list-style: none;
        margin-right: 18px;
    }
}

.btnLogo {
    display: none;
    z-index: 2001;

    @media(max-width: 768px){
       display: block;
       border: none;
       background: none;
    }
}



@media(max-width: 1240px) {
    .blog {
        display: none;
    }
}

@media(max-width: 1188px) {
    .lk {
        display: none;
    }
}

@media(max-width: 1045px) {
    .pay {
        display: none;
    }
}

@media(max-width: 944px) {
    .comes {
        display: none;
    }
}

@media(max-width: 858px) {
    .contacts {
        display: none;
    }
}

@media(max-width: 800px) {
    .about {
        display: none;
    }
}
@media(max-width:768px){
    .about {
        display: block;
    }
    .contacts {
        display: block;
    }
    .comes {
        display: block;
    }
    .pay {
        display: block;
    }
    .lk {
        display: block;
    }
    .blog {
        display: block;
    }
}

.NavHidden {
    display: none;

    @media(max-width: 1240px) {
        display: flex;
        align-self: center;
        cursor: pointer;  
    }

    @media(max-width:768px){
        display: none;
    }
}

.falls {
    position: absolute;
    background-color: blanchedalmond !important;
    top: 38px;
    min-width: 160px;
    padding: 5px 10px;
    z-index: 500000;
    @media(min-width: 1240px) {
        &__blog {
            display: none;
        }
    }
    
    @media(min-width: 1188px) {
        &__lk {
            display: none;
        }
    }
    
    @media(min-width: 1045px) {
        &__pay {
            display: none;
        }
    }
    
    @media(min-width: 944px) {
        &__comes {
            display: none;
        }
    }
    
    @media(min-width: 858px) {
        &__contacts {
            display: none;
        }
    }
    
    @media(min-width: 800px) {
        &__about {
            display: none;
        }
    }
}

.marginNumber {
    margin-right: 30px;
    white-space: nowrap;
}

.languages {
    padding-right: 15px;
    border-right: 1px solid black;
    margin-right: 15px;

    @media(max-width: 768px){
        border: none;
     }
}

.wrapperLogo {
    height: 80px;
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content;
    align-items: center;

    @media(max-width: 768px){
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        grid-column-gap: 10px;
        align-items: center;
        min-height: 66px;
     }

     &__a {
         display: flex;
         justify-content: center;

         &__logo {
            width: 220px;
            max-width: 100%;
            height: 51px;
            margin-right: 20px;
            @media(max-width:768px){
                margin-right: 0;
            }
     }
     
    }
    
}

.WrapperLogo__right {
    display: flex;
    justify-content: space-between;

}



.btnCatalog {
    font-weight: 600;
    height: 50px;
    font-size: 16px;
    color: white;
    border-radius: 6px;
    background-color: #1f7d63;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-style: none;
    cursor: pointer;
        &:hover{
            background-color: #279b7a;
        }

        @media(max-width: 768px){
        display: none;
        } 
}

.SearchForm {
    width: 100%;
    @media(max-width: 768px){
        display: none;
     }

    form {
        display: flex;
        margin: 0 24px;
        @media(max-width: 1028px){
            margin: 0 10px;
        }
    }
}



.Search {
    width: 100%;
    min-width: 150px;
    flex-grow: 1;
    border: 1px solid #808080;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    font-size: 16px;
    color: #333333;
    padding: 6px 10px;
}

.SearchBtn {
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #1f7d63;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;

    &__img {
        font-size: 1.5rem;
        color: white;
    }
    
}



.headerIcons {
    height: 28px;
    width: 28px;
    position: relative;
    margin-left: 25px;
    color: black;

    @media(max-width: 768px){
        display: none; 
     }
    @media(max-width: 1028px){
        margin-left: 10px;
    }
    
}

.headerIconsCart {
    display: flex;
    text-decoration: none;

    &:visited {
        color: #1f7d63;
    }

    
}

.iconCart {
    @media(max-width: 768px){
        display: block;
        
     }
}



.headerIconsCounter {
    z-index: 10;
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 50%;
    background-color: red;
    width: 16px;
    height: 16px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartPrice {
    margin-left: 15px;
    white-space: nowrap;
    color: #1f7d63;

    @media(max-width: 1028px){
            display: none;
     }
}


