@media(max-width: 1474px) {
    $numberArr: 5
};
@media(max-width: 1240px) {
    $numberArr: 4
}

.sizingPadding {
    padding-right: 40px;
    padding-left: 40px;
    box-sizing: border-box;
}

.sizingMargin {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1408px;
}

.Brings {
    padding: 30px 0;
    overflow: hidden;
    

    &__newBrings {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &__newBringsText {
            font-weight: 700;
            font-size: 40px;
        }

        &__Arrows {
            display: flex;

            &__BigArrow {
                margin-right: 15px;
                border: none;
                background: none;
                font-size: 35px;
                font-weight: 600;
            }
        }

        
    }

    &__rowUp {
        height: 400px;
        overflow: hidden;
        position: relative;

        &__row {
            display: grid;
           // justify-content: space-between;
            grid-template-columns: repeat(6, 1fr);
            grid-column-gap: 1rem;

            &__item {
                transition: 1s;
            }
        }
    }
    
}
