.sizingPadding {
    padding: 0 40px;
    box-sizing: border-box;
    @media(max-width:768px){
        padding: 0 15px;
    }
}

.sizingMargin {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1408px;
    padding: 15px 0;
}

.Brings {
    padding: 30px 0;
    overflow: hidden;
    

    &__newBrings {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &__newBringsText {
            font-weight: 700;
            font-size: 40px;
            @media(max-width:530px){
                font-size: 20px;
            }
        }

        &__Arrows {
            display: flex;

            &__BigArrow {
                margin-right: 15px;
                border: none;
                background: none;
                font-size: 35px;
                font-weight: 600;
                white-space: nowrap;
                @media(max-width:530px){
                    font-size: 25px;
                }
            }
        }

        
    }

    &__rowUp {
       // height: 400px;
        overflow: hidden;
        position: relative;

        &__row {
            display: flex;
            justify-content: safe start;

            &__item {
                transition: 1s;
                position: relative;
            }
        }
    }
    
}